@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
}
.App {
    position: absolute;
    display: flex;
    width : 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
}

.Sidebar{
    width: 20%;
    position: relative;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.Main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px auto;
    justify-items: center;
    width: 80%;
    
}

/* Header.js */
.Header{
    width: 100%;
    height: 60px;
    background-color: #1e3b99;
    grid-column: 1 / span 2;
}

.Header h2{
    color: white;
    text-align: center;
    letter-spacing: 3px;

}

/* DateAndTime.js */
.DateAndTime{
    font-size: 24px;
    display: flex;
    padding: 1rem;
    /* margin: 1.5rem;
    border-radius: 12px; */
    justify-content: center;
    color: white;
    height: 175px;
    align-items: center;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */

    background-color: #1e3b99;
    /* box-shadow: 0px 0px 12px 5px black; */
    /* background-color: #945CED; */
    /* background-image: url("./images/night-sky.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    
}

.DateAndTime .text .date{
    text-align: center;
}

.DateAndTime .text .time{
    text-align: center;
}

/* Addtodo.js */
.AddTodo{
    margin-top: 1vh;
    width: 100%;
}

.AddTodo .btn{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 50px;
}

.AddTodo .btn button{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    color: white;
    background-color: #1e3b99;
    font-weight: bold;
    cursor: pointer;
}

.AddTodo .btn button:hover{
    background-color: #455BD5;
    color: black;
    transition: all 300ms ease;
}

.AddTodo form .cancel{
    cursor: pointer;
}

/* The modal in Apptodo.js*/
.Modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    cursor: default;
    z-index: 1;
}

.Modal .container{
    position: absolute;
    top: 25%;
    left: 40%;
    /* transform: translate(-50%, -25%); */
    background-color: white;
    border-radius: 20px;
}

/* The form in the Modal of the file Addtodo.js */
.AddTodo form{
    padding: 1rem;
    width: 550px;
}

.AddTodo form h3{
    text-align: center;
}

.AddTodo form .text input{
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 8px;
}

.AddTodo form .text input:focus {
    
}

.AddTodo form p{
    margin-left: 5px;
}

.AddTodo form .title{
    margin-bottom: 5px;
}

.AddTodo form .pick-day{
    padding: 1rem 1rem 0 1rem;
}

.AddTodo form .pick-time{
    padding: 1rem 1rem 3rem 1rem;
}

.AddTodo form .cancel{
    position: absolute;
    top: 0px;
    right: 5px;
}

.AddTodo form .confirm{
    width: 100%;

}

.AddTodo form .confirm button{
    width: 100%;
    height: 45px;
    background-color: #1e3b99;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.AddTodo form .confirm button:hover{
    background-color: #455BD5;
    color: black;
    transition: all 300ms ease;
}

/* To-do Calendar from TodoCalendar.js */

.TodoCalendar{
    margin-top: 2vh;
    padding:  1rem;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
}

.TodoCalendar .title{
    font-size: 1.3rem;
    font-weight: bold;
}

.TodoCalendar .items{
    padding: 0.3rem;
}

.TodoCalendar .items .item{
    font-size: 1.1rem;
    padding: 1.25rem;
    cursor: pointer;
    margin-top: 1vh;
    vertical-align: middle;
    border-radius: 12px;
}

.TodoCalendar .items .item:hover{
    /* background-color: #1e3b99; */
    background-color: #1e3b99;
    color: white;
    border-radius: 12px;
    transition: 0.3s;
}

.TodoCalendar .items .item-clicked{
    background-color: red;
    padding: 0.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    color: white;
}

.TodoCalendar .items .highlighted{
    background-color: #041e75;
    color: white;
    font-size: 1.1rem;
    padding: 1.25rem;
    cursor: pointer;
    margin-top: 1vh;
    vertical-align: middle;
    border-radius: 12px;
    
}

/* To-do Folders from TodoFolders.js */

.TodoFolders{
    padding:  1rem;
    border-bottom: 1px solid black;
}

.TodoFolders .header{
    display: flex;
    align-items: center;
}

.TodoFolders .header .title{
    font-size: 1.3rem;
    font-weight: bold;
    flex: 1;
}

.TodoFolders .header .btns{
    display: flex;
    cursor: pointer;
}

.TodoFolders .header .btns .addFolderButton{
    border-radius: 14px;
    height: 25px;
    /* transition: 0.3s; */
}

/* .TodoFolders .header .btns .addFolderButton:hover{
    background-color: black;
    color: white;
} */

.TodoFolders .items{
    padding: 0.3rem;
}

.Folder{
    padding:  0.3rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.Folder .name{
    cursor: pointer;
    flex: 1;
}

.Folder .btns{
    display: flex;
    align-items: center;
}

.Folder .btns .delete{
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s;
    border-radius: 8px;
    width: 15px;
    height: 15px;
}

.Folder .btns .delete:hover{
    background-color: red;
}

.Folder .todoCount .numoftodos{
    background-color: grey;
    width: 20px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

/* Add new Folder component in FolderForm.js */

.FolderForm{
    padding: 1rem;
    border-radius: 6px;
    position: relative;
    width: 400px;
    padding-bottom: 30px;
    margin-right: 15px
}

.FolderForm input{
    width: 100%;
    padding: 4px;
    margin-bottom: 15px;
}

.FolderForm button{
    position: absolute;
    bottom: 5px;
    height: 30px;
    width: 30%;
    border-radius: 6px;
    border: 1px solid black;
    cursor: pointer;
}

.FolderForm button.cancel{
    left: 10;
    background-color: grey;
    color: white;
}

.FolderForm button.confirm{
    right: 0;
    background-color: #1e3b99;
    color: white;
}

/* The list of Todos on the main component from the file ListOfTodos.js */

.ListOfTodo{
    background-color: #E1E1E1;
    width: 25vw;
    height: 60vh;
    padding: 1rem;
    border-radius: 8px;
    margin: 2rem;
    overflow-y: auto; /*Gives scrolls bars when the list goes on and on after exceeding the space limit */
    border: 1px solid black;
    
}

.ListOfTodo .selected-Folder{
    
}

.ListOfTodo .selected-Folder .selected-Folder-Text{
    margin-bottom: 25px;
    text-transform: capitalize;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 1.5rem;
}

.ListOfTodo .todos {
    height: auto;
}

.ListOfTodo .todos .todoList{
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    height: auto;
    border-radius: 8px;
    word-wrap: break-word;
    box-shadow: 5px 6px 10px;
    
}

/* Todo.js (Styling the text of the list of todos) */
.Todo{
    padding: 0.3rem;

}

.Todo .todoContainer{
    display: flex;
    align-items: center;
}

.Todo .todoContainer span{
    cursor: pointer;
}

.Todo .todoContainer .text{
    margin-bottom: 5px;
    font-size: 1rem;
    flex: 1;
    margin-left: 10px;
}

.Todo .todoContainer .text .todo-text{
    margin-bottom: 2px;
}

.Todo .todoContainer .text .time-and-folder{
    font-size: 0.8rem;
    color: grey;
}

.Todo .todoContainer .edit-todo{
    margin-right: 10px;
    padding-bottom: 5px;
    font-weight: bold;
}

.Todo .todoContainer .edit-todo:hover{
    margin-right: 10px;
    font-weight: bold;
    text-decoration: underline;
}

/* EditTodo side bar on the main component from EditTodo.js*/

.EditTodo .EditTodoForm{
    /* background-color: #E1E1E1;
    width: 25vw;
    height: 60vh;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-radius: 8px;
    margin: 2rem;
    overflow-y: auto; /*Gives scrolls bars when the list goes on and on after exceeding the space limit */
    /* border: 1px solid black; */

    background-color: #E1E1E1;
    width: 25vw;
    height: 60vh;
    padding: 1rem;
    border-radius: 8px;
    margin: 2rem;
    overflow-y: auto; /*Gives scrolls bars when the list goes on and on after exceeding the space limit */
    border: 1px solid black;
}

.EditTodo .EditTodoForm .text .title{
    margin-bottom: 25px;
    text-transform: capitalize;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 1.5rem;
}

.EditTodo .text input{
    padding: 0.4rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
    border-radius: 8px;
    border: 1px solid black;
    
}

.EditTodo .EditTodoForm .text, .pick-day, .pick-time{
    margin-bottom: 35px;
}

/*Next 7 Day Component*/

.Next7Days .next7DaysList{
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    height: auto;
    border-radius: 8px;
    box-shadow: 5px 6px 10px;
}

.Next7Days .day{
    margin: 5px;
    display: flex;
}

.Next7Days .day .name{
    font-weight: bold;
    font-size: 1rem;
}

.Next7Days .day .total-todos {
    margin-left: 10px;
    font-size: 0.9rem;
}

.Next7Days .next7DaysList .day{
    background-color: #1e3b99;
    color: white;
    padding: 0.8rem;
    border-radius: 8px;
}

