.App {
    display: flex;
    width : 100vw;
    height: 100vh;
    overflow: hidden;
}

.Sidebar{
    width: 350px;
}

.Main{
    display: flex;
}

/* AppTitle.js */
.AppTitle{
    font-size: 24px;
    display: flex;
    padding: 1rem;
    justify-content: center;
    border: 1px solid black
}

/* Addtodo.js */
.AddTodo{
    border-bottom: 1px solid black;
}

.AddTodo .btn{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 50px;
}

.AddTodo .btn button{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    color: white;
    background-color: navy;
    font-weight: bold;
    cursor: pointer;
}

.AddTodo .btn button:hover{
    filter:brightness(1.1);
    background-color: lightskyblue;
    transition: all 300ms ease;
}

.AddTodo form .cancel{
    cursor: pointer;
}

/* The modal in Apptodo.js*/
.Modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    cursor: default;
    z-index: 1;
}

.Modal .container{
    position: absolute;
    top: 25%;
    left: 40%;
    /* transform: translate(-50%, -25%); */
    background-color: white;
    border-radius: 20px;
}

/* The form in the Modal of the file Addtodo.js */
.AddTodo form{
    padding: 1rem;
    width: 550px;
}

.AddTodo form .text input{
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

.AddTodo form .text input:focus {
    
}

.AddTodo form p{
    margin-left: 5px;
}

.AddTodo form .title{
    margin-bottom: 5px;
}

.AddTodo form .pick-day{
    padding: 1rem 1rem 0 1rem;
}

.AddTodo form .pick-time{
    padding: 1rem 1rem 3rem 1rem;
}

.AddTodo form .cancel{
    position: absolute;
    top: 0px;
    right: 5px;
}

.AddTodo form .confirm{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.AddTodo form .confirm button{
    width: 100%;
    height: 35px;
    background-color: navy;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

/* To-do Calendar from TodoCalendar.js */

.TodoCalendar{
    padding:  1rem;
    border-bottom: 1px solid black;
}

.TodoCalendar .title{
    font-size: 1.3rem;
    font-weight: bold;
}

.TodoCalendar .items{
    padding: 0.3rem;
}

.TodoCalendar .items .item{
    padding: 0.5rem;
    cursor: pointer;
    width: 30%;
}

.TodoCalendar .items .item:hover{
    background-color: black;
    color: white;
    border-radius: 6px;
    transition: 0.3s;
}

/* To-do Folders from TodoFolders.js */

.TodoFolders{
    padding:  1rem;
    border-bottom: 1px solid black;
}

.TodoFolders .header{
    display: flex;
    align-items: center;
}

.TodoFolders .header .title{
    font-size: 1.3rem;
    font-weight: bold;
    flex: 1;
}

.TodoFolders .header .btns{
    display: flex;
    cursor: pointer;
}

.TodoFolders .header .btns .addFolderButton{
    border-radius: 14px;
    height: 25px;
    /* transition: 0.3s; */
}

/* .TodoFolders .header .btns .addFolderButton:hover{
    background-color: black;
    color: white;
} */

.TodoFolders .items{
    padding: 0.3rem;
}

.Folder{
    padding:  0.3rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.Folder .name{
    cursor: pointer;
    flex: 1;
}

.Folder .btns{
    display: flex;
    align-items: center;
}

.Folder .btns .delete{
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s;
    border-radius: 8px;
    width: 15px;
    height: 15px;
}

.Folder .btns .delete:hover{
    background-color: red;
}

.Folder .todoCount .numoftodos{
    background-color: grey;
    width: 20px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

/* Add new Folder component in FolderForm.js */

.FolderForm{
    padding: 1rem;
    border-radius: 6px;
    position: relative;
    width: 400px;
    padding-bottom: 30px;
    margin-right: 15px
}

.FolderForm input{
    width: 100%;
    padding: 4px;
    margin-bottom: 15px;
}

.FolderForm button{
    position: absolute;
    bottom: 5px;
    height: 30px;
    width: 30%;
    border-radius: 6px;
    border: 1px solid black;
    cursor: pointer;
}

.FolderForm button.cancel{
    left: 10;
    background-color: grey;
    color: white;
}

.FolderForm button.confirm{
    right: 0;
    background-color: navy;
    color: white;
}

/* The list of Todos on the main component from the file ListOfTodos.js */

.ListOfTodo{
    background-color: beige;
    width: 25vw;
    height: 50vh;
    padding: 1rem;
    border-radius: 8px;
    margin: 2rem;
}

.ListOfTodo .selected-Folder{
    margin-bottom: 25px;
    text-transform: capitalize;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.ListOfTodo .todos{
    overflow-y: auto; /*Gives scrolls bars when the list goes on and on after exceeding the space limit */
}

/* Todo.js (Styling the text of the list of todos) */
.Todo{
    padding: 0.3rem;
}

.Todo .todoContainer{
    display: flex;
    align-items: center;
}

.Todo .todoContainer span{
    cursor: pointer;
}

.Todo .todoContainer .text{
    margin-bottom: 5px;
    font-size: 1rem;
    flex: 1;
    margin-left: 10px;
}

.Todo .todoContainer .text .todo-text{
    margin-bottom: 2px;
}

.Todo .todoContainer .text .time-and-folder{
    font-size: 0.8rem;
    color: grey;
}

/* EditTodo side bar on the main component from EditTodo.js*/

.EditTodo{
    background-color: beige;
    width: 25vw;
    height: 50vh;
    padding: 1rem;
    border-radius: 8px;
    margin: 2rem;
}

.EditTodo .text input{
    padding: 0.4rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.8rem;
}

